<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Style -->
    <link rel="stylesheet" href="../assets/css/styles.css" />

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap"
      rel="stylesheet"
    />

    <!-- Icon -->
    <link rel="icon" type="image/x-icon" href="" />

    <!-- Title -->
    <title>TV Movies | 📺</title>
  </head>

  <body>
    <header class="header">
      <div class="header--logo">TV Movies</div>
      <nav class="header--nav">
        <a class="header--nav-link active" aria-current="page" href="#"
          >Active</a
        >
        <a class="header--nav-link" href="#">Link</a>
        <a class="header--nav-link" href="#">Link</a>
        <a class="header--nav-link disabled">Disabled</a>
      </nav>
    </header>

    <main class="main">
      <section class="movies container">
        <div class="movies--item">
          <img class="movies--item-image" src="" alt="product name" />
          <p class="movies--item-title">'Beautiful' flower</p>
          <p class="movies--item-description">abcdef</p>
        </div>
        <div class="movies--item">
          <img class="movies--item-image" src="" alt="product name" />
          <p class="movies--item-title">'Beautiful' flower</p>
          <p class="movies--item-description">abcdef</p>
        </div>
        <div class="movies--item">
          <img class="movies--item-image" src="" alt="product name" />
          <p class="movies--item-title">'Beautiful' flower</p>
          <p class="movies--item-description">abcdef</p>
        </div>
        <div class="movies--item">
          <img class="movies--item-image" src="" alt="product name" />
          <p class="movies--item-title">'Beautiful' flower</p>
          <p class="movies--item-description">abcdef</p>
        </div>
        <div class="movies--item">
          <img class="movies--item-image" src="" alt="product name" />
          <p class="movies--item-title">'Beautiful' flower</p>
          <p class="movies--item-description">abcdef</p>
        </div>
        <div class="movies--item">
          <img class="movies--item-image" src="" alt="product name" />
          <p class="movies--item-title">'Beautiful' flower</p>
          <p class="movies--item-description">abcdef</p>
        </div>
      </section>

      <footer class="footer">
        <div class="container">
          <p class="footer--title">TV Movies</p>
          <ul class="footer--list">
            <li class="footer--list-item">
              <img src="" alt="facebook" />
            </li>
            <li class="footer--list-item">
              <img src="" alt="instagram" />
            </li>
            <li class="footer--list-item">
              <img src="" alt="twitter" />
            </li>
          </ul>
        </div>
      </footer>
    </main>
  </body>
</html>
